<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="appSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" ></section>
    <section name="appSettings" type="System.Collections.Specialized.NameValueCollection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" ></section>
  </configSections>

  <!--<startup>
    <supportedRuntime version="v3.5" sku=".NETFramework,Version=v2.0.50727" />
  </startup>-->

  <appSettings>
    <add key="API_URL" value="http://10.15.12.148:9090/api/" />
    <!--<add key="API_URL" value="http://10.2.9.97:9090/api/" />-->
  </appSettings>
  <system.web>
    <!--<securityPolicy>
      <trustLevel name="Full" policyFile="internal"/>
    </securityPolicy>-->
    <trust level="Full" />
    <!--<compilation>
      <assemblies>
        
      </assemblies>
    </compilation>-->
  </system.web>
</configuration>




<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Users" type="ERP.Base.UsersConfigMapSection, ERP.Base"/>
  </configSections>
  <Users>
    <add username = "Dinesh" password ="Password" domain ="MyCompany" />
    <add username = "Kumar" password ="Password" domain ="MyCompany" />
  </Users>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>-->